
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/assets/css/blog.css" rel="stylesheet">
</head>
<body>
    <div class="container-fuild">
        <div class="inner">
            <h1>Blog</h1>
            <main>
                <div class="card">
                    <img title="Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp" src="https://thepuristsclub.com/images/202309/kinu-grinder-m47-cropped/kinu-grinder-m47-cropped.jpg" alt="">
                    <h2>Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp</h2>
                    <div class="date">20/09/2023</div>
                    <p style="margin-top: -2px;">Kinu trong tiếng Swahili có nghĩa là “cối xay”. Thương hiệu thuộc sở hữu của một công ty gia đình tại Đức, có truyền thống trong việc sản xuất cối xay gia vị và cà phê. Với kinh nghiệm hơn 25 năm, Kinu đã sản xuất và bán ra hơn 22 triệu cối xay cao cấp, có thể nói Kinu là một trong những công ty hiểu rất rõ về việc làm thế nào để chế tác ra một chiếc cối xay cà phê chất lượng tốt.</p>
                </div>
                <div class="box">
                    <div style="margin-bottom:11px;" class="card-right underline">
                        <div class="box box1">
                            <img title="Rigards x Boris Bidjan Sabrei" src="https://thepuristsclub.com/images/202308/rigards-x-boris-bidjan-saberi-rg1011bbs-9/rigards-x-boris-bidjan-saberi-rg1011bbs-9-300x200.jpg" alt="">
                            <div class="transform-15-13">
                                <h2>Rigards x Boris Bidjan Sabrei</h2>
                                <div class="date">01/08/2023</div>
                            </div>
                        </div>
                        <p><a>RG1011BBS - Phiên bản collab mới nhất giữa hai cá tính “dị biệt” Rigards và Boris Bidjan Saberi.</a></p>
                    </div>
                    <div class="card-right">
                        <div class="box box1">
                            <img title="Matsuda- Nét Hoa Mỹ Từ Xứ Sở Mặt Trời Mọc" src="https://thepuristsclub.com/images/202306/z3403770779246085428df83601288f6126e561cbbf710/z3403770779246085428df83601288f6126e561cbbf710.jpg" alt="">
                            <div class="transform-15-13">
                                <h2>Matsuda- Nét Hoa Mỹ Từ Xứ Sở Mặt Trời Mọc</h2>
                                <div class="date">21/06/2023</div>
                            </div>
                        </div>
                        <p><a>Trong một thế giới đề cao tính tức thời, Matsuda chọn gắn mình với thủ công truyền thống và sự chu đáo, tỉ mẩn. Bắt đầu từ những vật liệu tốt nhất và kết thúc là những cây kính Matsuda có thể được ngưỡng mộ tới suốt đời.</a></p>
                    </div>
                </div>
            </main>
        </div>
        <div class="inner">
            <main class="row">
                <div class="col">
                    <div class="card">
                        <div class="box box1 image-container">
                            <img title="Vẻ quyến rũ đậm chất Pháp của Jacques Marie Mage (JMM)" src="https://thepuristsclub.com/images/202306/ve-quyen-ru-dam-chat-phap-cua-jacques-marie-mage-jmm/ve-quyen-ru-dam-chat-phap-cua-jacques-marie-mage-jmm.jpg" alt="">
                            <div>
                                <h2>Vẻ quyến rũ đậm chất Pháp của Jacques Marie Mage (JMM)</h2>
                                <div class="date">19/06/2023</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">
                            Là một người Pháp yêu thích miền Tây nước Mỹ và có sở thích sưu tập xe BMX, Jerome Mage đã cho ra mắt những chiếc kính mắt JMM làm rung động trái tim của tất cả những ai yêu cổ điển.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="box">
                        <div class="box box1 image-container">
                            <img title="Vẻ quyến rũ đậm chất Pháp của Jacques Marie Mage (JMM)" src="https://thepuristsclub.com/images/202212/tpc-x-cong-tri-14-copy/tpc-x-cong-tri-14-copy.jpg" alt="">
                            <div>
                                <h2>Vẻ quyến rũ đậm chất Pháp của Jacques Marie Mage (JMM)</h2>
                                <div class="date">19/06/2023</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">
                            Là một người Pháp yêu thích miền Tây nước Mỹ và có sở thích sưu tập xe BMX, Jerome Mage đã cho ra mắt những chiếc kính mắt JMM làm rung động trái tim của tất cả những ai yêu cổ điển.
                        </p>
                    </div>
                </div>
            </main>

            <main class="row">
                <div class="col">
                    <div class="card">
                        <div class="box box1 image-container">
                            <img title="Phiên bản bút giới hạn Montegrappa Al Tarikh Yuktab Fifa World Cup 2022" src="https://thepuristsclub.com/images/202211/montegrappa-al-tarikh-yuktab-1/montegrappa-al-tarikh-yuktab-1.jpg" alt="">
                            <div>
                                <h2>Phiên bản bút giới hạn Montegrappa Al Tarikh Yuktab Fifa World Cup 2022</h2>
                                <div class="date">23/11/2022</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">
                            Montegrappa - Al Tarikh Yuktab World Cup 2022 Ngay sau thành công của se-ri FIFA® Classics phát hành hồi đầu tháng Ba năm nay, thương hiệu bút cao cấp lâu đời nhất Italia đã đánh dấu thời sự kiện thể thao lớn nhất hành tinh bắt đầu từ ngày 20 tháng 11 năm 2022, bằng một phiên bản giới hạn mang tên Al Tarikh Yuktab.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="box">
                        <div class="box box1 image-container">
                            <img title="" src="https://thepuristsclub.com/images/202211/kame-mannen-8/kame-mannen-8.jpg" alt="">
                            <div>
                                <h2>Kame ManNen – Thương Hiệu Kính Mắt Nhật Bản Trăm Năm Tuổi</h2>
                                <div class="date">17/11/2022</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">
                            “Kame” xuất phát từ tiếng Nhật có nghĩa là con rùa, trong khi “ManNen” có nghĩa là vạn năm. Những nhà sáng lập đã đặt tên cho thương hiệu theo một câu tục ngữ Nhật Bản tin tưởng vào quyết tâm của người thợ thủ công để tạo ra những chiếc kính có thể tồn tại hàng nghìn năm.
                        </p>
                    </div>
                </div>
            </main>

            <main class="row">
                <div class="col">
                    <div class="card">
                        <div class="box box1 image-container">
                            <img title="Francesco Maglia – Chuyện Về Những Chiếc Ô Thượng Phẩm" src="https://thepuristsclub.com/images/202210/francesco-maglia-umbrella/francesco-maglia-umbrella.jpg" alt="">
                            <div>
                                <h2>Francesco Maglia – Chuyện Về Những Chiếc Ô Thượng Phẩm</h2>
                                <div class="date">17/10/2022</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">
                            Francesco Maglia là một trong những nhà sản xuất ô lâu đời nhất trên thế giới và là một trong số ít còn tồn tại tới ngày nay. Được thành lập vào năm 1854 bởi Francesco Maglia.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="box">
                        <div class="box box1 image-container">
                            <img title="Montegrappa - Year of Tiger" src="https://thepuristsclub.com/images/202210/montegrappa-year-of-the-tiger/montegrappa-year-of-the-tiger.jpg" alt="">
                            <div>
                                <h2>Montegrappa - Year of Tiger</h2>
                                <div class="date">13/10/2022</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">
                            Phiên bản bút giới hạn Year of Tiger được chế tác thủ công, giới hạn 100 chiếc trên toàn thế giới.
                        </p>
                    </div>
                </div>
            </main>

            <main class="row">
                <div class="col">
                    <div class="card">
                        <div class="box box1 image-container">
                            <img title="Mad et Len – Bản giao hưởng của những mùi hương nguyên bản và vẻ đẹp thô mộc" src="https://thepuristsclub.com/images/202209/mad-et-len-cover/mad-et-len-cover.jpg" alt="">
                            <div>
                                <h2>Mad et Len – Bản giao hưởng của những mùi hương nguyên bản và vẻ đẹp thô mộc</h2>
                                <div class="date">18/09/2022</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">
                            Không có gì ngạc nhiên khi hơn thập kỷ kể từ khi Mad et Len ra mắt, nhà sản xuất nước hoa “niche” có trụ sở tại Saint Julien de Verdun, miền Nam nước Pháp đã xây dựng được một cộng đồng yêu thích một cách hùng hậu.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="box">
                        <div class="box box1 image-container">
                            <img title="Montegrappa - Thương Hiệu Bút Xa Xỉ Lâu Đời Nhất Nước Ý" src="https://thepuristsclub.com/images/202209/montegrapp-queen/montegrapp-queen.jpg" alt="">
                            <div>
                                <h2>Montegrappa - Thương Hiệu Bút Xa Xỉ Lâu Đời Nhất Nước Ý</h2>
                                <div class="date">16/09/2022</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">
                            Hơn một thế kỷ với tay nghề thủ công tuyệt vời, nhãn hiệu bút cao cấp lâu đời nhất nước Ý này đã được biết đến trên toàn thế giới như một biểu trưng cho sự sáng tạo và phong cách Ý. Montegrappa đã là một phần của cuộc sống của những người đàn ông tuyệt vời, và nó cũng đã chứng kiến những khoảnh khắc của sự sáng tạo mãnh liệt và đột phá.
                        </p>
                    </div>
                </div>
            </main>

            <main class="row">
                <div class="col">
                    <div class="card">
                        <div class="box box1 image-container">
                            <img title="Cutler & Gross - Kính mắt điệp vụ Kingsman" src="https://thepuristsclub.com/images/202201/mainkingsman/mainkingsman.jpg" alt="">
                            <div>
                                <h2>Cutler & Gross - Kính mắt điệp vụ Kingsman</h2>
                                <div class="date">07/01/2022</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">
                            Cutler & Gross được thành lập vào năm 1969 bởi Graham Cutler và Tony Gross, khi họ đã gặp nhau trong trường đo thị lực tại đại học Northampton. Có cùng niềm đam mê chung về những thiết kế sáng tạo, họ là một trong những người tiên trong trong việc thay đổi nhận thức về kính mắt như một thiết bị y tế cần thiết, trở thành một phụ kiện thời trang quan trọng. Thương hiệu Cutler & Gross đại diện cho phong cách sang trọng lịch lãm của Anh Quốc cùng với tay nghề thủ công tốt nhất của Ý.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="box">
                        <div class="box box1 image-container">
                            <img title="Omega SRL – Huyền thoại về những chiếc găng tay vùng Naples" src="https://thepuristsclub.com/images/202110/omega-srl/omega-srl.jpg" alt="">
                            <div>
                                <h2>Omega SRL – Huyền thoại về những chiếc găng tay vùng Naples</h2>
                                <div class="date">13/10/2021</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">
                            OMEGA SRL là nhà làm găng lâu đời nhất thế giới đang tồn tại xuyên suốt qua 4 thế hệ từ năm 1923 cho đến nay. Năm 2014, Omega dành giải thưởng nhà làm găng xuất sắc nhất thế giới “Award Best Glove 2014”. Là một trong số rất hiếm thương hiệu duy trì phương pháp sản xuất thủ công truyền thống bởi các nghệ nhân lành nghề. Xưởng chế tác của Omega nằm tại khu phố La Sanità, nó giống như một căn hộ lớn kiểu Ý hơn là một khu xưởng. Khách hàng đến thăm quan và mua sắm được chào đón như những người bạn.
                        </p>
                    </div>
                </div>
            </main>

            <main class="row">
                <div class="col">
                    <div class="card">
                        <div class="box box1 image-container">
                            <img title="Baker Boy Cap – Di sản thời trang nam cổ điển từ Vương quốc Anh" src="https://thepuristsclub.com/images/202110/peaky-blinders/peaky-blinders.jpg" alt="">
                            <div>
                                <h2>Baker Boy Cap – Di sản thời trang nam cổ điển từ Vương quốc Anh</h2>
                                <div class="date">05/10/2021</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">
                            Hiếm có một dáng mũ nào lại gợi lên sự cổ điển và nam tính như Baker Boy Cap. Đã từng có những giai đoạn, Baker Boy Cap trở thành vật bất ly thân với tất cả nam giới Anh Quốc từ 6 tuổi trở lên.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="box">
                        <div class="box box1 image-container">
                            <img title="KUBORAUM - The Art of Eyewear" src="https://thepuristsclub.com/images/202011/kuboraum-banner/kuboraum-banner.jpg" alt="">
                            <div>
                                <h2>KUBORAUM - The Art of Eyewear</h2>
                                <div class="date">21/09/2021</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">
                            KUBORAUM luôn muốn tập trung vào người đeo, những chiếc “mặt nạ” này giúp chúng ta cảm thấy thoải mái, trong khi đó chúng làm nổi bật diện mạo và nhấn mạnh cá tính của chúng ta, thương hiệu không có logo. Mỗi chiếc “mặt nạ” đều chứa đựng vẻ ngoài và sức mạnh riêng, nhưng ngay khi người ta đeo nó, nó sẽ thể hiện tính cách của người đeo chứ không phải bản thân chiếc kính.
                        </p>
                    </div>
                </div>
            </main>

            <main class="row">
                <div class="col">
                    <div class="card">
                        <div class="box box1 image-container">
                            <img title="Mario Talarico - Thương Hiệu Ô Thủ Công 160 Năm Tuổi" src="https://thepuristsclub.com/images/202108/mario-talarico-umbrella/mario-talarico-umbrella.jpg" alt="">
                            <div>
                                <h2>Mario Talarico - Thương Hiệu Ô Thủ Công 160 Năm Tuổi</h2>
                                <div class="date">16/08/2021</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">
                            Mario Talarico - Thương hiệu ô thủ công 160 năm tuổi, yêu thích của những diễn viên và chính trị gia hàng đầu thế giới, cùng hai vị Giáo hoàng của toà thánh Vatican.

                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="box">
                        <div class="box box1 image-container">
                            <img title="Moscot - Thương hiệu kính mắt trăm năm tuổi từ New York" src="https://thepuristsclub.com/images/202108/moscot-lemtosh/moscot-lemtosh.jpg" alt="">
                            <div>
                                <h2>Moscot - Thương hiệu kính mắt trăm năm tuổi từ New York</h2>
                                <div class="date">06/08/2021</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">
                            The Purists Club vinh dự là đại diện ủy quyền chính hãng của thương hiệu Moscot NYC tại Việt Nam.
                        </p>
                    </div>
                </div>
            </main>

            <main class="row">
                <div class="col">
                    <div class="card">
                        <div class="box box1 image-container">
                            <img title="Rigards - Những Chiếc Kính Ngoại Đạo" src="https://thepuristsclub.com/images/202105/rigards-7/rigards-7.jpg" alt="">
                            <div>
                                <h2>Rigards - Những Chiếc Kính Ngoại Đạo</h2>
                                <div class="date">13/05/2021</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">
                            Mỗi chiếc kính RIGARDS được thiết kế như một tác phẩn độc bản “One-of-A-Kind” và được hoàn thiện thủ công bởi những nghệ nhân lành nghề, không thể bị trộn lẫn hoặc dễ bị sao chép trong ngày công nghiệp kính “khổng lồ”. Mỗi chiếc kính được sinh ra với sứ mệnh tự mình diễn đạt những câu chuyện về những kiếm sĩ Samurai Nhật Bản, các vị thần phương Đông hay các nhân vật trong văn học Gothic, v.v.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="box">
                        <div class="box box1 image-container">
                            <img title="Masunaga 1905 - Huyền Thoại Kính Mắt Nhật Bản" src="https://thepuristsclub.com/images/202104/707191572005818442921715293699723839113743n/707191572005818442921715293699723839113743n.jpg" alt="">
                            <div>
                                <h2>Masunaga 1905 - Huyền Thoại Kính Mắt Nhật Bản</h2>
                                <div class="date">25/04/2021</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">
                            Sự khéo léo tỉ mỉ được thể hiện rõ trong vô số các bước của quá trình sản xuất. Masunaga không quá vội vàng. Không có phím tắt nào được thực hiện, không có bất kỳ thỏa hiệp nào được thực hiện trong quá trình tạo mỗi khung kính MASUNAGA. Với chất liệu Acetate Nhật Bản được đánh bóng bằng tay đẹp mắt, bản lề bảy nòng siêu bền, đinh tán bạc đặc biệt, bộ sưu tập MASUNAGA khẳng định những gì Masunaga Optical đã đạt được trong thế kỷ qua.
                        </p>
                    </div>
                </div>
            </main>

            <main class="row">
                <div class="col">
                    <div class="card">
                        <div class="box box1 image-container">
                            <img title="Xếp hạng các tập đoàn kính mắt lớn nhất thế giới" src="https://thepuristsclub.com/images/202012/luxoticca-safilo/luxoticca-safilo.png" alt="">
                            <div>
                                <h2>Xếp hạng các tập đoàn kính mắt lớn nhất thế giới</h2>
                                <div class="date">16/12/2020</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">
                            Theo thống kê của BOF (Business Of Fashion) năm 2015, ngành công nghiệp kính mắt bao gồm gọng kính, mắt kính ước tính tổng giá trị 90 tỷ đô la và ước tính lên tới 140 tỷ đô la năm 2020, trong đó thị phần của các thương hiệu kính mắt thời trang cao cấp chiếm khoảng 13 tỷ đô la. Hai tập đoàn lớn nhất thống trị ngành công nghiệp kính mắt là Luxottica và Safilo.
                        </p>
                    </div>
                </div>
            </main>

        </div>
    </div>
    <div class="see-more">
        <button class="see-more"></button>
    </div>
</body>
</html>