h1 {
    font-weight: bold;
    font-size: 2.5rem;
    color: #888 !important;
}

h2 {
    font-size: 1.3rem;
}

.card h2 {
    transform: translateY(-7px);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

div.date {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #888;
    transform: translateY(-10px);
}

.underline {
      border-bottom: 1px dotted #8888888e;
}

main {
    display: grid;
    grid-template-columns: 2fr 1.8fr 0.1fr 0.2fr;
    grid-column-gap: 15px;
}

.card-right {
    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
}

.box1 {
    flex-direction: row;
}

.transform-15-13 {
    transform: translate(15px,-13px);
}

.see-more {
    width: 200px;
    padding: 5px;
    display: block;
    margin: 20px auto 0;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

.box1 img {
    margin-right: 15px;
    width: 100%;
    height: auto;
    max-width: 150px;
    max-height: 110px;
    object-fit: cover;
}

a {
    padding-left: 0px;
}