main {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-column-gap: 15px;
    margin-top: 70px;
}

.img--zoom img {
    width: 400px;
    height: 300px;
}

.product-info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 21px;
    margin-bottom: 10px;
    line-height: 15p;
}

    .product-info h5 {
        font-size: 21px;
        font-weight: 500;
        margin-top: -20px;
    }

.product--avaliable {
    font-size: 12px;
    margin-top: -30px;
    color: #888;
    padding-top:10px;
}

    .product--avaliable::after {
        content: "AVALIABLE";
        color: orange;
        margin-left: 2px;
    }

.price {
    color: orange;
    font-weight: bold;
    font-size: 17px;
    margin-top: -1px;
    margin-right:60%;
}

.product-info-main p {
    font-weight: 700;
    font-size: 12px;
    font-family: Roboto, Arial, sans-serif;
}

.info{
    padding-top:1px;
}

.product-info-footer {
    padding-top: 7px;
}

    .product-info-footer i {
        font-size: 20px;
        padding: 0.2rem;
        color: #888;
    }

div.img-col {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.img-col img {
    width: 45px;
}

.underline {
    border-bottom: 1px solid #d3d1d170;
}
