
@{
    ViewBag.Title = "checkOut_Success";
}


@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut_Success</title>
</head>
<body style="text-align:center">
    <h2>CheckOut Successfull</h2>
    <h4>Order of you had sent to the shop. You will receive goods in 2-3 days.Thank</h4>
    <a href="@Url.Action("Index","Products")">Continuos shopping..</a>
</body>
</html>


